In [187]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import GoogleV3

In [188]:
# File paths
file_path_1 = r'../../data/raw/2022_NTD_Annual_Data_View_-_Service__by_Mode__20231102.csv'
file_path_2 = r'../../data/raw/2022_NTD_Annual_Data_View_-_Employees__By_Agency__20231102.csv'
file_path_3 = r'../../data/raw/2022_NTD_Annual_Data_View_-_Fuel_and_Energy__by_Agency__20231027.csv'


# Read the CSV files
df_service_by_mode = pd.read_csv(file_path_1)
df_employees_by_agency = pd.read_csv(file_path_2)
df_fuel_and_energy = pd.read_csv(file_path_3)

In [189]:
# Extract relevant columns
service_by_mode_columns = [
    'NTD ID',
    'Agency', 
    'Mode', 
    'Agency VOMS', 
    'Actual Vehicle/Passenger Car Miles', 
    'Service Area Population', 
    'Service Area Sq Miles', 
    'Primary UZA Area Sq Miles'
]
df_service_by_mode = df_service_by_mode[service_by_mode_columns]

# Remove commas from numeric columns and convert to numeric
numeric_columns = [
    'Agency VOMS', 
    'Actual Vehicle/Passenger Car Miles', 
    'Service Area Population', 
    'Service Area Sq Miles', 
    'Primary UZA Area Sq Miles'
]
df_service_by_mode[numeric_columns] = df_service_by_mode[numeric_columns].replace({',': ''}, regex=True)
df_service_by_mode[numeric_columns] = df_service_by_mode[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Aggregate data for service by mode
df_service_aggregated = df_service_by_mode.groupby('NTD ID').agg({
    'Agency': 'max',
    'Agency VOMS': 'sum',
    'Actual Vehicle/Passenger Car Miles': 'sum',
    'Service Area Population': 'max',
    'Service Area Sq Miles': 'max',
    'Primary UZA Area Sq Miles': 'max'
}).reset_index()

In [190]:
df_service_aggregated

,NTD ID,Agency,Agency VOMS,Actual Vehicle/Passenger Car Miles,Service Area Population,Service Area Sq Miles,Primary UZA Area Sq Miles
0,1,"King County Department of Metro Transit, dba: ...",18261,51015415,2287050.0,2134.0,982.52
1,2,Spokane Transit Authority,1116,10296150,459007.0,248.0,171.67
2,3,Pierce County Transportation Benefit Area Auth...,1910,9841274,575963.0,292.0,982.52
3,4,Confederated Tribes of the Colville Indian Res...,10,0,NaN,NaN,0.00
4,5,"City of Everett, dba: EVERETT TRANSIT",84,1625002,110629.0,34.0,982.52
...,...,...,...,...,...,...,...
2200,99441,Payson Senior Center,2,0,NaN,NaN,NaN
2201,99442,Calaveras Transit Agency,22,0,NaN,NaN,NaN
2202,99452,Elk Valley Rancheria,1,0,NaN,NaN,0.00
2203,99453,City of Winslow,2,0,NaN,NaN,NaN
2204,99454,Palo Verde Valley Transit Agency,20,0,NaN,NaN,NaN

In [191]:
# Read the relevant sheet
df_service_by_mode2 = pd.read_csv(file_path_1)  

# Extract relevant columns
service_by_mode_columns2 = [
    'NTD ID',
    'Mode', 
    'Mode VOMS',
]
df_service_by_mode2 = df_service_by_mode2[service_by_mode_columns2]

# Remove commas from numeric columns and convert to numeric
numeric_columns2 = [
    'Mode VOMS', 
]
df_service_by_mode2[numeric_columns2] = df_service_by_mode2[numeric_columns2].replace({',': ''}, regex=True)
df_service_by_mode2[numeric_columns2] = df_service_by_mode2[numeric_columns2].apply(pd.to_numeric, errors='coerce')

# Clean 'Mode' column to ensure no extra spaces or unwanted characters
df_service_by_mode2['Mode'] = df_service_by_mode2['Mode'].str.strip()

# Aggregate data for service by mode and NTD ID
df_service_aggregated2 = df_service_by_mode2.groupby(['NTD ID', 'Mode']).agg({
    'Mode VOMS': 'sum',
}).reset_index()

# Fill NaN values with 0
df_service_aggregated2['Mode VOMS'] = df_service_aggregated2['Mode VOMS'].fillna(0)

# Create a new column that combines 'Mode VOMS' and 'Mode'
df_service_aggregated2['Mode VOMS_Combined'] = 'Mode VOMS_' + df_service_aggregated2['Mode']

# Pivot the DataFrame to have one NTD ID and each Mode as a column
df_pivot2 = df_service_aggregated2.pivot(index='NTD ID', columns='Mode VOMS_Combined', values='Mode VOMS')

# Reset the index to have NTD ID as a column
df_pivot2 = df_pivot2.reset_index()

# Fill NaN values with 0 after pivoting
df_pivot2 = df_pivot2.fillna(0)

# Display the reshaped DataFrame
df_pivot2

Mode VOMS_Combined,NTD ID,Mode VOMS_AR,Mode VOMS_CB,Mode VOMS_CC,Mode VOMS_CR,Mode VOMS_DR,Mode VOMS_FB,Mode VOMS_HR,Mode VOMS_IP,Mode VOMS_LR,Mode VOMS_MB,Mode VOMS_MG,Mode VOMS_PB,Mode VOMS_RB,Mode VOMS_SR,Mode VOMS_TB,Mode VOMS_TR,Mode VOMS_VP,Mode VOMS_YR
0,1,0.0,0.0,0.0,0.0,311.0,2.0,0.0,0.0,0.0,844.0,0.0,0.0,0.0,10.0,117.0,0.0,745.0,0.0
1,2,0.0,0.0,0.0,0.0,79.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0,0.0
2,3,0.0,0.0,0.0,0.0,77.0,0.0,0.0,0.0,0.0,91.0,0.0,0.0,0.0,0.0,0.0,0.0,214.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,99441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2201,99442,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2202,99452,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2203,99453,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2204,99454,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
# Merge datasets
df_service_aggregated = pd.merge(df_service_aggregated, df_pivot2, on='NTD ID', how='left')

In [193]:
# From df_employees_by_agency
employees_by_agency_columns = [
#    'Agency', 
    'NTD ID', 
    'City', 
    'State', 
    'UZA Name', 
    'Total Operating Hours', 
    'Total Employees'
]
df_employees_by_agency = df_employees_by_agency[employees_by_agency_columns]
df_employees_by_agency

,NTD ID,City,State,UZA Name,Total Operating Hours,Total Employees
0,20008,Brooklyn,NY,"New York--Jersey City--Newark, NY--NJ","79,401,206","45,802"
1,20080,Newark,NJ,"New York--Jersey City--Newark, NY--NJ","21,149,972","11,452"
2,30030,Washington,DC,"Washington--Arlington, DC--VA--MD","18,010,252","13,214.21"
3,90154,Los Angeles,CA,"Los Angeles--Long Beach--Anaheim, CA","17,905,536","10,192"
4,50066,Chicago,IL,"Chicago, IL--IN","16,960,103","9,790"
...,...,...,...,...,...,...
358,50521,Chicago,IL,"Chicago, IL--IN","2,602",17
359,80106,Fort Collins,CO,"Fort Collins, CO","2,573",4
360,40129,Port Charlotte,FL,"Port Charlotte--North Port, FL","2,368",2.13
361,80005,Colorado Springs,CO,"Colorado Springs, CO","2,093",1.17
362,40178,Franklin,TN,"Nashville-Davidson, TN",423,0.21

In [194]:
# From df_fuel_and_energy
fuel_and_energy_columns = [
    'NTD ID',
#    'Agency',
    'Diesel (gal)', 
    'Gasoline (gal)', 
    'Liquefied Petroleum Gas (gal)', 
    'Compressed Natural Gas (gal)', 
    'Bio Diesel (gal)', 
    'Other Fuel (gal/gal equivalent)', 
    'Electric Propulsion (kWh)', 
    'Electric Battery (kWh)'
]
df_fuel_and_energy = df_fuel_and_energy[fuel_and_energy_columns]

# Convert relevant columns to numeric
fuel_columns = [
    'Diesel (gal)', 
    'Gasoline (gal)', 
    'Liquefied Petroleum Gas (gal)', 
    'Compressed Natural Gas (gal)', 
    'Bio Diesel (gal)', 
    'Other Fuel (gal/gal equivalent)', 
    'Electric Propulsion (kWh)', 
    'Electric Battery (kWh)'
]
df_fuel_and_energy[fuel_columns] = df_fuel_and_energy[fuel_columns].replace({',': ''}, regex=True)
df_fuel_and_energy[fuel_columns] = df_fuel_and_energy[fuel_columns].apply(pd.to_numeric, errors='coerce')

# Calculate total_diesel(gal) and total_kWh
df_fuel_and_energy['total_diesel(gal)'] = df_fuel_and_energy[
    ['Diesel (gal)', 'Gasoline (gal)', 'Liquefied Petroleum Gas (gal)', 'Compressed Natural Gas (gal)', 'Bio Diesel (gal)', 'Other Fuel (gal/gal equivalent)']
].sum(axis=1, skipna=True)

df_fuel_and_energy['total_kWh'] = df_fuel_and_energy[
    ['Electric Propulsion (kWh)', 'Electric Battery (kWh)']
].sum(axis=1, skipna=True)

# Extract only the required columns
#df_fuel_and_energy = df_fuel_and_energy[['Agency', 'total_diesel(gal)', 'total_kWh']]
df_fuel_and_energy

,NTD ID,Diesel (gal),Gasoline (gal),Liquefied Petroleum Gas (gal),Compressed Natural Gas (gal),Bio Diesel (gal),Other Fuel (gal/gal equivalent),Electric Propulsion (kWh),Electric Battery (kWh),total_diesel(gal),total_kWh
0,30054,0,50827,0,452565,0,0,0,0,503392,0
1,60014,191613,33274,0,0,0,0,0,0,224887,0
2,40147,148388,0,0,0,0,0,0,0,148388,0
3,50057,35920,47779,0,523332,9284,0,0,192714,616315,192714
4,10048,2282756,0,0,0,0,0,0,0,2282756,0
...,...,...,...,...,...,...,...,...,...,...,...
526,16,0,15747,18968,0,71816,0,0,0,106531,0
527,40004,1486901,481480,0,0,0,0,0,46944,1968381,46944
528,70001,55173,22612,0,248974,0,0,0,247712,326759,247712
529,22930,3874929,0,0,0,0,0,0,0,3874929,0
530,99423,0,13600,0,354288,0,0,0,0,367888,0

In [195]:
# Merge datasets
df_merged = pd.merge(df_service_aggregated, df_fuel_and_energy, on='NTD ID', how='left')
df_merged = pd.merge(df_merged, df_employees_by_agency, on='NTD ID', how='left')

#df_merged = pd.merge(df_employees_by_agency, df_service_aggregated, on='Agency', how='left')
#df_merged = pd.merge(df_merged,df_fuel_and_energy, on='Agency', how='left')

## Rename columns for clarity
#df_merged.rename(columns={
#    'Agency VOMS': 'Number of Operating Fleets',
#    #'Actual Vehicle/Passenger Car Miles': 'Ridership',
#    'Total Operating Hours': 'Total Operating Hours',
#    'Total Employees': 'Total Employees',
#    'Service Area Population': 'Service Area Population',
#    'Service Area Sq Miles': 'Service Area Sq Miles',
#    'Primary UZA Area Sq Miles': 'Primary UZA Area Sq Miles',
#    'total_diesel(gal)': 'Total Diesel (gal)',
#    'total_kWh': 'Total kWh'
# }, inplace=True)

# Convert the final numeric columns to appropriate types
#final_numeric_columns = [
#    'VOM', 
#    'Actual Vehicle/Passenger Car Miles', #'Ridership', 
#    'Service Area Population', 
#    'Service Area Sq Miles', 
#    'Primary UZA Area Sq Miles', 
#    'Total Diesel (gal)', 
#    'Total kWh', 
#    'Total Operating Hours', 
#    'Total Employees'
#]

final_numeric_columns =[ 'Agency VOMS', 'Actual Vehicle/Passenger Car Miles',
       'Service Area Population', 'Service Area Sq Miles',
       'Primary UZA Area Sq Miles', 'Mode VOMS_AR', 'Mode VOMS_CB',
       'Mode VOMS_CC', 'Mode VOMS_CR', 'Mode VOMS_DR', 'Mode VOMS_FB',
       'Mode VOMS_HR', 'Mode VOMS_IP', 'Mode VOMS_LR', 'Mode VOMS_MB',
       'Mode VOMS_MG', 'Mode VOMS_PB', 'Mode VOMS_RB', 'Mode VOMS_SR',
       'Mode VOMS_TB', 'Mode VOMS_TR', 'Mode VOMS_VP', 'Mode VOMS_YR']

df_merged[final_numeric_columns] = df_merged[final_numeric_columns].apply(pd.to_numeric, errors='coerce')

In [196]:
#df_merged
df_service_aggregated.columns

Index(['NTD ID', 'Agency', 'Agency VOMS', 'Actual Vehicle/Passenger Car Miles',
       'Service Area Population', 'Service Area Sq Miles',
       'Primary UZA Area Sq Miles', 'Mode VOMS_AR', 'Mode VOMS_CB',
       'Mode VOMS_CC', 'Mode VOMS_CR', 'Mode VOMS_DR', 'Mode VOMS_FB',
       'Mode VOMS_HR', 'Mode VOMS_IP', 'Mode VOMS_LR', 'Mode VOMS_MB',
       'Mode VOMS_MG', 'Mode VOMS_PB', 'Mode VOMS_RB', 'Mode VOMS_SR',
       'Mode VOMS_TB', 'Mode VOMS_TR', 'Mode VOMS_VP', 'Mode VOMS_YR'],
      dtype='object')

In [197]:
df_merged.dtypes

NTD ID                                  int64
Agency                                 object
Agency VOMS                             int64
Actual Vehicle/Passenger Car Miles      int64
Service Area Population               float64
Service Area Sq Miles                 float64
Primary UZA Area Sq Miles             float64
Mode VOMS_AR                          float64
Mode VOMS_CB                          float64
Mode VOMS_CC                          float64
Mode VOMS_CR                          float64
Mode VOMS_DR                          float64
Mode VOMS_FB                          float64
Mode VOMS_HR                          float64
Mode VOMS_IP                          float64
Mode VOMS_LR                          float64
Mode VOMS_MB                          float64
Mode VOMS_MG                          float64
Mode VOMS_PB                          float64
Mode VOMS_RB                          float64
Mode VOMS_SR                          float64
Mode VOMS_TB                          float64
Mode VOMS_TR                          float64
Mode VOMS_VP                          float64
Mode VOMS_YR                          float64
Diesel (gal)                          float64
Gasoline (gal)                        float64
Liquefied Petroleum Gas (gal)         float64
Compressed Natural Gas (gal)          float64
Bio Diesel (gal)                      float64
Other Fuel (gal/gal equivalent)       float64
Electric Propulsion (kWh)             float64
Electric Battery (kWh)                float64
total_diesel(gal)                     float64
total_kWh                             float64
City                                   object
State                                  object
UZA Name                               object
Total Operating Hours                  object
Total Employees                        object
dtype: object

In [198]:
# Drop rows where 'Total Diesel (gal)' or 'Total kWh' is NaN
#df_merged.dropna(subset=['Total Diesel (gal)', 'Total kWh'], inplace=True)
#df_merged

In [199]:
# Save the merged dataframe to a new CSV file
#output_path = r'../../data/tidy/NTD_Annual_Data_Tidy_v02.csv'
#df_merged.to_csv(output_path, index=False)

### Operating and Capital Funding

In [200]:
# File path
file_path_4 = r'../../data/raw/2022 TS1.2 Operating and Capital Funding Time Series.xlsx'

# Read the Excel file
xls = pd.ExcelFile(file_path_4)

# Display the sheet names to verify
sheet_names = xls.sheet_names
sheet_names

['Read Me - Data Dictionary',
 'Summary Total',
 'Operating Total',
 'Operating Federal',
 'Operating State',
 'Operating Local',
 'Operating Other',
 'Capital Total',
 'Capital Federal',
 'Capital State',
 'Capital Local',
 'Capital Other',
 'Decommissioned - OperatingFares',
 'Decommissioned - OperatingOther']

In [201]:
# Function to extract data for the year 2022 or the closest available year
def extract_yearly_data(sheet_name, xls):
    df = pd.read_excel(xls, sheet_name=sheet_name)
    df = df.set_index('NTD ID')
    years = [str(year) for year in range(2022, 1990, -1)]
    df['Extracted Value'] = df[years].bfill(axis=1).iloc[:, 0]
    return df[['Extracted Value']].rename(columns={'Extracted Value': sheet_name})

# Extract data from each sheet
sheets = ['Operating Federal', 'Operating State', 'Operating Local', 'Operating Other',
          'Capital Federal', 'Capital State', 'Capital Local', 'Capital Other']

df_list = []
for sheet in sheets:
    df_list.append(extract_yearly_data(sheet, xls))

# Combine all extracted data into a single DataFrame
df_combined = pd.concat(df_list, axis=1)

# Display the combined dataframe
df_combined

C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other
NTD ID,,,,,,,,
1.0,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0
2.0,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0
3.0,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0
4.0,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0
...,...,...,...,...,...,...,...,...
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [202]:
# Remove rows where the index ("NTD ID") is NaN
df_combined = df_combined[~df_combined.index.isna()]

# Convert the index to integers
df_combined.index = df_combined.index.astype(float).astype(int)

# Convert the index to int64 and format as five-digit number
#df_combined.index = df_combined.index.astype(float).astype(int).astype(str).str.zfill(5)

df_combined

,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other
NTD ID,,,,,,,,
1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0
2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0
3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0
4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0
...,...,...,...,...,...,...,...,...
99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0
99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0
99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0

In [203]:
df_combined.dtypes

Operating Federal    float64
Operating State      float64
Operating Local      float64
Operating Other      float64
Capital Federal      float64
Capital State        float64
Capital Local        float64
Capital Other        float64
dtype: object

In [204]:
# Convert the formatted index back to integers (retaining the format as a string representation)
df_combined.index = df_combined.index.astype(int)

In [205]:
# Merge the combined DataFrame with df_merged based on 'NTD ID'
df_final = df_combined.merge(df_merged, on='NTD ID', how='left')

# Display the final DataFrame
df_final

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,Other Fuel (gal/gal equivalent),Electric Propulsion (kWh),Electric Battery (kWh),total_diesel(gal),total_kWh,City,State,UZA Name,Total Operating Hours,Total Employees
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,0.0,16807624.0,970902.0,9253887.0,17778526.0,Seattle,WA,"Seattle--Tacoma, WA","7,296,493","4,036.58"
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,0.0,0.0,253079.0,1603343.0,253079.0,Spokane,WA,"Spokane, WA","1,164,839",772.01
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,0.0,0.0,236326.0,1634769.0,236326.0,Lakewood,WA,"Seattle--Tacoma, WA","979,603",529.55
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,0.0,0.0,705874.0,288882.0,705874.0,Everett,WA,"Seattle--Tacoma, WA","271,976",155.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Elk Valley Rancheria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2723,99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0,City of Winslow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2724,99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0,Palo Verde Valley Transit Agency,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2725,99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Service Data and Operating Expenses Time Series by System

In [206]:
df_combined

,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other
NTD ID,,,,,,,,
1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0
2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0
3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0
4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0
...,...,...,...,...,...,...,...,...
99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0
99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0
99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0

In [207]:
import pandas as pd

# File path for the uploaded dataset
file_path = r'../../data/raw/2022 TS2.1 Service Data and Operating Expenses Time Series by Mode_0.xlsx'


# Read the Excel file
xls = pd.ExcelFile(file_path)

# Function to extract data for the year 2022 or the closest available year
def extract_yearly_data(sheet_name, xls):
    df = pd.read_excel(xls, sheet_name=sheet_name)
    if 'Mode' in df.columns:
        df = df.set_index(['NTD ID', 'Mode'])
    else:
        df = df.set_index('NTD ID')
        df['Mode'] = 'N/A'  # Assign a default value if Mode column is missing
    years = [str(year) for year in range(2022, 1990, -1)]
    df['Extracted Value'] = df[years].bfill(axis=1).iloc[:, 0]
    df = df.reset_index()
    return df[['NTD ID', 'Mode', 'Extracted Value']].rename(columns={'Extracted Value': sheet_name})

# List of sheets to extract data from
sheets = ['FARES', 'DRM', 'VRM', 'VRH', 'UPT', 'PMT']

# Dictionary to store pivoted DataFrames
df_pivot_dict = {}

# Process each sheet separately
for sheet in sheets:
    df = extract_yearly_data(sheet, xls)
    df_pivot = df.pivot_table(index='NTD ID', columns='Mode', values=sheet)
    df_pivot.columns = [f"{sheet}_{mode}" for mode in df_pivot.columns]
    df_pivot_dict[sheet] = df_pivot

# Combine all pivoted DataFrames
df_combined_pivot = pd.concat(df_pivot_dict.values(), axis=1)

# Fill NaN values with 0
df_combined_pivot = df_combined_pivot.fillna(0)

# Reset the index to have NTD ID as a column
df_combined_pivot = df_combined_pivot.reset_index()

# Display the reshaped DataFrame
df_combined_pivot

C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,NTD ID,FARES_AR,FARES_CB,FARES_CC,FARES_CR,FARES_DR,FARES_DT,FARES_FB,FARES_HR,FARES_IP,...,PMT_MB,PMT_MG,PMT_OR,PMT_PB,PMT_RB,PMT_SR,PMT_TB,PMT_TR,PMT_VP,PMT_YR
0,1.0,0.0,5216912.0,0.0,0.0,416163.5,190037.0,1715265.0,0.0,0.0,...,106729508.5,0.0,0.0,0.0,0.0,1269696.0,17545751.0,0.0,14389243.0,0.0
1,2.0,0.0,0.0,0.0,0.0,265642.0,0.0,0.0,0.0,0.0,...,28155245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2683580.0,0.0
2,3.0,0.0,4674368.0,0.0,0.0,131906.5,0.0,0.0,0.0,0.0,...,10497174.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11193468.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,0.0,0.0,0.0,112410.0,0.0,0.0,0.0,0.0,...,3815254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,91077.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2676,99250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2677,99280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2678,99388.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2679,99421.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [208]:
# Merge the combined DataFrame with df_final based on 'NTD ID'
df_final_combined = df_final.merge(df_combined_pivot, on='NTD ID', how='left')

# Display the final DataFrame
df_final_combined

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,PMT_MB,PMT_MG,PMT_OR,PMT_PB,PMT_RB,PMT_SR,PMT_TB,PMT_TR,PMT_VP,PMT_YR
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,106729508.5,0.0,0.0,0.0,0.0,1269696.0,17545751.0,0.0,14389243.0,0.0
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,28155245.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2683580.0,0.0
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,10497174.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11193468.0,0.0
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,3815254.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Elk Valley Rancheria,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0,City of Winslow,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0,Palo Verde Valley Transit Agency,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2725,99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
import pandas as pd

# File path for the new dataset
file_path_5 = r'../../data/raw/2022 TS2.2 Service Data and Operating Expenses Time Series by System.xlsx'

# Read the Excel file
xls_2 = pd.ExcelFile(file_path_5)

# Function to extract data for the year 2022 or the closest available year
def extract_yearly_data(sheet_name, xls):
    df = pd.read_excel(xls, sheet_name=sheet_name)
    df = df.set_index('NTD ID')
    years = [str(year) for year in range(2022, 1990, -1)]
    df['Extracted Value'] = df[years].bfill(axis=1).iloc[:, 0]
    return df[['Extracted Value']].rename(columns={'Extracted Value': sheet_name})

# Extract data from each sheet
#sheets_2 = ['Total OE', 'OpExp VO','OpExp VM', 'OpExp NVM','OpExp GA', 'FARES', 'DRM','VRM', 'VRH', 'UPT', 'PMT']
sheets_2 = ['Total OE', 'OpExp VO','OpExp VM', 'OpExp NVM','OpExp GA']


df_list_2 = []
for sheet in sheets_2:
    df_list_2.append(extract_yearly_data(sheet, xls_2))

# Combine all extracted data into a single DataFrame
df_combined_2 = pd.concat(df_list_2, axis=1)

# Drop rows with empty index ("NTD ID")
df_combined_2 = df_combined_2.dropna(axis=0, how='any')

# Display df combined2 DataFrame
df_combined_2

C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

           Total OE     OpExp VO     OpExp VM   OpExp NVM     OpExp GA
NTD ID
1.0     846712438.0  451370915.0  141511449.0  53402066.0  200428008.0
2.0      93981860.0   55898294.0   13548065.0   5417445.0   19118056.0
3.0      93071541.0   51294568.0   12582509.0   2911552.0   26282912.0
4.0       1451717.0          0.0          0.0         0.0          0.0
5.0      23757649.0   13065194.0    3060828.0   1253222.0    6378405.0
...             ...          ...          ...         ...          ...
NaN             0.0      42871.0      24065.0         0.0      15190.0
NaN             0.0          0.0          0.0         0.0          0.0
NaN             0.0     581715.0          0.0         0.0      98957.0
NaN             0.0     536134.0     184454.0     49513.0     364118.0
NaN             0.0    1077044.0     347117.0      4188.0     278227.0

[2645 rows x 5 columns]

In [210]:
# Merge the combined DataFrame with df_final based on 'NTD ID'
df_final_combined = df_final_combined.merge(df_combined_2, on='NTD ID', how='left')

# Display the final DataFrame
df_final_combined

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,PMT_SR,PMT_TB,PMT_TR,PMT_VP,PMT_YR,Total OE,OpExp VO,OpExp VM,OpExp NVM,OpExp GA
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,1269696.0,17545751.0,0.0,14389243.0,0.0,846712438.0,451370915.0,141511449.0,53402066.0,200428008.0
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,0.0,0.0,0.0,2683580.0,0.0,93981860.0,55898294.0,13548065.0,5417445.0,19118056.0
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,0.0,0.0,0.0,11193468.0,0.0,93071541.0,51294568.0,12582509.0,2911552.0,26282912.0
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,0.0,0.0,0.0,0.0,0.0,1451717.0,0.0,0.0,0.0,0.0
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,0.0,0.0,0.0,0.0,0.0,23757649.0,13065194.0,3060828.0,1253222.0,6378405.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Elk Valley Rancheria,...,0.0,0.0,0.0,0.0,0.0,28844.0,0.0,0.0,0.0,0.0
2723,99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0,City of Winslow,...,0.0,0.0,0.0,0.0,0.0,128375.0,0.0,0.0,0.0,0.0
2724,99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0,Palo Verde Valley Transit Agency,...,0.0,0.0,0.0,0.0,0.0,1160637.0,0.0,0.0,0.0,0.0
2725,99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
# Function to extract specific columns from the "Total OE" sheet
def extract_total_oe_data(xls):
    df = pd.read_excel(xls, sheet_name='Total OE')
    return df[['NTD ID', 'UZA Area SQ Miles', 'UZA Population']]

# Extract the data from the "Total OE" sheet
df_total_oe = extract_total_oe_data(xls_2)

# Display the extracted DataFrame
df_total_oe

C:\Users\Mahsa\anaconda3\envs\ox\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

      NTD ID  UZA Area SQ Miles  UZA Population
0        1.0             982.52         3544011
1        2.0             171.67          447279
2        3.0             982.52         3544011
3        4.0               0.00         1895776
4        5.0             982.52         3544011
...      ...                ...             ...
3026     NaN               0.00         4357850
3027     NaN               0.00         4357850
3028     NaN               0.00         4357850
3029     NaN               0.00         4357850
3030     NaN               0.00          399654

[3031 rows x 3 columns]

In [212]:
# Merge the combined DataFrame with df_final based on 'NTD ID'
df_final_combined = df_final_combined.merge(df_total_oe, on='NTD ID', how='left')

# Display the final DataFrame
df_final_combined

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,PMT_TR,PMT_VP,PMT_YR,Total OE,OpExp VO,OpExp VM,OpExp NVM,OpExp GA,UZA Area SQ Miles,UZA Population
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,0.0,14389243.0,0.0,846712438.0,451370915.0,141511449.0,53402066.0,200428008.0,982.52,3544011.0
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,0.0,2683580.0,0.0,93981860.0,55898294.0,13548065.0,5417445.0,19118056.0,171.67,447279.0
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,0.0,11193468.0,0.0,93071541.0,51294568.0,12582509.0,2911552.0,26282912.0,982.52,3544011.0
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,0.0,0.0,0.0,1451717.0,0.0,0.0,0.0,0.0,0.00,1895776.0
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,0.0,0.0,0.0,23757649.0,13065194.0,3060828.0,1253222.0,6378405.0,982.52,3544011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Elk Valley Rancheria,...,0.0,0.0,0.0,28844.0,0.0,0.0,0.0,0.0,0.00,4357850.0
2723,99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0,City of Winslow,...,0.0,0.0,0.0,128375.0,0.0,0.0,0.0,0.0,0.00,1296856.0
2724,99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0,Palo Verde Valley Transit Agency,...,0.0,0.0,0.0,1160637.0,0.0,0.0,0.0,0.0,0.00,4357850.0
2725,99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
### Replace the previous data with the data with more details (by Mode)

## File path for the new dataset
#file_path_5 = r'../../data/raw/2022 TS2.1 Service Data and Operating Expenses Time Series by Mode_0.xlsx'

# Read the Excel file
#xls_2 = pd.ExcelFile(file_path_5)

## Function to extract data for the year 2022 or the closest available year, and add mode suffix
#def extract_yearly_data(sheet_name, xls):
#    df = pd.read_excel(xls, sheet_name=sheet_name)
#    df = df.set_index(['NTD ID', 'Mode'])
#    years = [str(year) for year in range(2022, 1990, -1)]
#    df['Extracted Value'] = df[years].bfill(axis=1).iloc[:, 0]
#    df = df[['Extracted Value']].rename(columns={'Extracted Value': sheet_name})
#    df = df.reset_index()
    
#    # Aggregate by summing values for each 'NTD ID' and 'Mode'
#    df_agg = df.groupby(['NTD ID', 'Mode'])[sheet_name].sum().reset_index()
    
#    # Pivot the data
#    df_pivot = df_agg.pivot(index='NTD ID', columns='Mode', values=sheet_name)
#    df_pivot.columns = [f"{sheet_name}_{mode}" for mode in df_pivot.columns]
#    return df_pivot

# Extract data from each sheet and pivot by 'Mode'
#sheets_2 = ['OpExp VO', 'OpExp VM', 'OpExp NVM', 'OpExp GA', 'FARES', 'DRM', 'VRM', 'VRH', 'UPT', 'PMT']

#df_list_2 = []
#for sheet in sheets_2:
#    df_list_2.append(extract_yearly_data(sheet, xls_2))

# Combine all extracted data into a single DataFrame by merging on 'NTD ID'
#df_combined_2 = df_list_2[0]
#for df in df_list_2[1:]:
#    df_combined_2 = df_combined_2.merge(df, on='NTD ID', how='outer')

# Assuming df_final is the result of the previous merge
# Merge the combined DataFrame with df_final based on 'NTD ID'
#df_final_combined = df_final.merge(df_combined_2, on='NTD ID', how='left')

# Display the final DataFrame
#df_final_combined.head()

In [214]:
#for col in df_final_combined.columns:
#    print(col)

In [215]:
#df_final_combined.dtypes

### Service

In [216]:
# File path and sheet name for the new data
file_path_6 = r'../../data/raw/2022 Service.xlsx'
sheet_name = '2022 Service'

# Read the new excel file
df_new = pd.read_excel(file_path_6, sheet_name=sheet_name)

# Aggregate the required columns by summing them, grouped by 'NTD ID'
aggregated_columns = ['Days of Service Operated', 'Days Not Operated Due to Emergencies', 'Non-Statutory Mixed Traffic', 'DRM Mixed Traffic ROW']

df_new_aggregated = df_new.groupby('NTD ID')[aggregated_columns].sum().reset_index()

df_new_aggregated

,NTD ID,Days of Service Operated,Days Not Operated Due to Emergencies,Non-Statutory Mixed Traffic,DRM Mixed Traffic ROW
0,1,2896.0,0.0,0.0,1299.03
1,2,1349.0,0.0,0.0,958.10
2,3,1350.0,0.0,0.0,499.74
3,4,0.0,0.0,0.0,0.00
4,5,722.0,0.0,0.0,118.40
...,...,...,...,...,...
2254,99441,0.0,0.0,0.0,0.00
2255,99442,0.0,0.0,0.0,0.00
2256,99452,0.0,0.0,0.0,0.00
2257,99453,0.0,0.0,0.0,0.00
2258,99454,0.0,0.0,0.0,0.00

In [217]:
# Merge the aggregated new data with the existing dataframe based on 'NTD ID'
df_final_combined = df_final_combined.merge(df_new_aggregated, on='NTD ID', how='left')

# Display the dataframe
df_final_combined.head()

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,OpExp VO,OpExp VM,OpExp NVM,OpExp GA,UZA Area SQ Miles,UZA Population,Days of Service Operated,Days Not Operated Due to Emergencies,Non-Statutory Mixed Traffic,DRM Mixed Traffic ROW
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,451370915.0,141511449.0,53402066.0,200428008.0,982.52,3544011.0,2896.0,0.0,0.0,1299.03
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,55898294.0,13548065.0,5417445.0,19118056.0,171.67,447279.0,1349.0,0.0,0.0,958.10
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,51294568.0,12582509.0,2911552.0,26282912.0,982.52,3544011.0,1350.0,0.0,0.0,499.74
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,0.0,0.0,0.0,0.0,0.00,1895776.0,0.0,0.0,0.0,0.00
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,13065194.0,3060828.0,1253222.0,6378405.0,982.52,3544011.0,722.0,0.0,0.0,118.40

In [218]:
df_final_combined.columns

Index(['NTD ID', 'Operating Federal', 'Operating State', 'Operating Local',
       'Operating Other', 'Capital Federal', 'Capital State', 'Capital Local',
       'Capital Other', 'Agency',
       ...
       'OpExp VO', 'OpExp VM', 'OpExp NVM', 'OpExp GA', 'UZA Area SQ Miles',
       'UZA Population', 'Days of Service Operated',
       'Days Not Operated Due to Emergencies', 'Non-Statutory Mixed Traffic',
       'DRM Mixed Traffic ROW'],
      dtype='object', length=188)

## TAM Performance

In [219]:
import pandas as pd

# File path and sheet name for the new data
file_path_7 = r'../../data/raw/2022-TAM-Performance-Tool_0.xlsx'
sheet_name_tam = '2022 Data'

# Read the new excel file
df_new_tam = pd.read_excel(file_path_7, sheet_name=sheet_name_tam)

# Function to safely get the mode
def safe_mode(series):
    if not series.mode().empty:
        return series.mode().iloc[0]
    else:
        return series.iloc[0]  # Fallback to the first value if mode is not found

# Aggregating the required columns in the '2022 Data' sheet
agg_funcs = {
    'City': safe_mode,
    'State': safe_mode,
    'UZA': safe_mode,
    'Service Area Sq Miles': 'max',
    'Service Area Pop': 'max'
}

df_new_aggregated_tam = df_new_tam.groupby('NTD ID').agg(agg_funcs).reset_index()

# Merge the aggregated data from '2022 Data' with the existing dataframe based on 'NTD ID'
df_final_combined = df_final_combined.merge(df_new_aggregated_tam, on='NTD ID', how='left')

# Rename the columns to remove the '_y' suffix
df_final_combined.rename(columns={
    'City_y': 'City',
    'State_y': 'State',
    'Service Area Sq Miles_y': 'Service Area Sq Miles',
}, inplace=True)

# Drop the original columns to avoid redundancy
df_final_combined.drop(columns=['City_x', 'State_x', 'Service Area Sq Miles_x'], inplace=True)

# Display the dataframe
df_final_combined.head()

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,UZA Population,Days of Service Operated,Days Not Operated Due to Emergencies,Non-Statutory Mixed Traffic,DRM Mixed Traffic ROW,City,State,UZA,Service Area Sq Miles,Service Area Pop
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,3544011.0,2896.0,0.0,0.0,1299.03,Seattle,WA,"80389 - Seattle--Tacoma, WA",2134.0,2287050.0
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,447279.0,1349.0,0.0,0.0,958.10,Spokane,WA,"83764 - Spokane, WA",248.0,459007.0
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,3544011.0,1350.0,0.0,0.0,499.74,Lakewood,WA,"80389 - Seattle--Tacoma, WA",292.0,575963.0
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,1895776.0,0.0,0.0,0.0,0.00,Nespelem,WA,00053 - Washington Non-UZA,NaN,NaN
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,3544011.0,722.0,0.0,0.0,118.40,Everett,WA,"80389 - Seattle--Tacoma, WA",34.0,110629.0

In [220]:
df_final_combined.columns

Index(['NTD ID', 'Operating Federal', 'Operating State', 'Operating Local',
       'Operating Other', 'Capital Federal', 'Capital State', 'Capital Local',
       'Capital Other', 'Agency',
       ...
       'UZA Population', 'Days of Service Operated',
       'Days Not Operated Due to Emergencies', 'Non-Statutory Mixed Traffic',
       'DRM Mixed Traffic ROW', 'City', 'State', 'UZA',
       'Service Area Sq Miles', 'Service Area Pop'],
      dtype='object', length=190)

In [221]:
# Initialize the GoogleV3 geocoder
api_key = 'AIzaSyCbB5nFtdTE1Y1PJAmouRY69PlCqtD3RPw'
geolocator = GoogleV3(api_key=api_key)

# Create a function to get latitude and longitude
def get_coordinates(city, state):
    try:
        location = geolocator.geocode(f"{city}, {state}")
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            return pd.Series([None, None])
    except Exception as e:
        print(f"Error getting coordinates for {city}, {state}: {e}")
        return pd.Series([None, None])

# Apply the function to the dataframe
df_final_combined[['Latitude', 'Longitude']] = df_final_combined.apply(
    lambda row: get_coordinates(row['City'], row['State']),
    axis=1
)

# Display the dataframe with the new columns
df_final_combined

,NTD ID,Operating Federal,Operating State,Operating Local,Operating Other,Capital Federal,Capital State,Capital Local,Capital Other,Agency,...,Days Not Operated Due to Emergencies,Non-Statutory Mixed Traffic,DRM Mixed Traffic ROW,City,State,UZA,Service Area Sq Miles,Service Area Pop,Latitude,Longitude
0,1,126313019.0,17798927.0,573912810.0,266339342.0,35398236.0,22300662.0,97008549.0,9939102.0,"King County Department of Metro Transit, dba: ...",...,0.0,0.0,1299.03,Seattle,WA,"80389 - Seattle--Tacoma, WA",2134.0,2287050.0,47.606139,-122.332848
1,2,31270192.0,1708713.0,51822996.0,9554657.0,12159213.0,674190.0,27455824.0,0.0,Spokane Transit Authority,...,0.0,0.0,958.10,Spokane,WA,"83764 - Spokane, WA",248.0,459007.0,47.657971,-117.423532
2,3,40262064.0,2058990.0,37023952.0,63377478.0,3949421.0,5183835.0,36622271.0,0.0,Pierce County Transportation Benefit Area Auth...,...,0.0,0.0,499.74,Lakewood,WA,"80389 - Seattle--Tacoma, WA",292.0,575963.0,47.171765,-122.518458
3,4,1490917.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Confederated Tribes of the Colville Indian Res...,...,0.0,0.0,0.00,Nespelem,WA,00053 - Washington Non-UZA,NaN,NaN,48.167100,-118.974748
4,5,12787325.0,993691.0,6623445.0,3385223.0,179716.0,224413.0,540939.0,0.0,"City of Everett, dba: EVERETT TRANSIT",...,0.0,0.0,118.40,Everett,WA,"80389 - Seattle--Tacoma, WA",34.0,110629.0,47.978985,-122.202079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,99452,28844.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Elk Valley Rancheria,...,0.0,0.0,0.00,Crescent City,CA,00006 - California Non-UZA,NaN,NaN,41.755750,-124.202591
2723,99453,123243.0,0.0,0.0,5132.0,0.0,0.0,0.0,0.0,City of Winslow,...,0.0,0.0,0.00,Winslow,AZ,NaN,NaN,NaN,35.024187,-110.697357
2724,99454,406203.0,642646.0,20000.0,91788.0,0.0,0.0,0.0,0.0,Palo Verde Valley Transit Agency,...,0.0,0.0,0.00,Blythe,CA,NaN,NaN,NaN,33.617773,-114.588261
2725,99455,52511.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,99456,147791.0,0.0,51650.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
# Save the merged dataframe to a new CSV file
output_path = r'../../data/tidy/NTD_Annual_Data_Tidy_v02.csv'
df_final_combined.to_csv(output_path, index=False)